h1 {
	color: #E8398A;
    font-family: 'Lobster', cursive;
    font-size: 200px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: normal;
    margin: 40px 20px 40px 20px;
}

h2 {
    color: #E5217E;
    font-family: 'Lobster', cursive;
    letter-spacing: 1.5px;
}

h3 {
}

body {
    background-color: #FFB6CE;
    border-style: solid;
    border-color: #E53758;
    border-width: 20px;
    padding-bottom: 670em;
    clear: both;

    
}
a {
    color: #BF1B69;
}


p {
    
}

.mw-body-content {
    color: #400923;
    font-family: 'Clicker Script', cursive;
    font-size: 20px;
    float: left;
    padding: 10px 20px 10px 20px;
}

.ol.references, div.reflist, div.refbegin {
    color: #400923;
    font-family: 'Clicker Script', cursive;
}

.sitesub {
    
}

.infobox td, .infobox th {
    
}