/*body*/
body {
    background-color: white;
}
h1 {
    color: black;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-align: left;
}

#title
{
    color: black;
}

#no {
    padding: 30px 0 0 0;
    text-align: center;
}

#yes {
    padding: 0 0 0 40px;
    text-align: justify;
}


.text {
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 200;
    font-size: 30px;
    line-height: 50px;
    margin-top: 40px;
    margin-right: 40px;
    
}

.text div {
    display: inline-block;
    margin-right:20px;
}
/*links*/

ul {
    list-style-type: none;
}

li {
    font-family: 'helvetica neue', sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 70px;
    display: inline-block;
    padding: 5px 10px 5px 10px;
}
a.visible:link, a.visible:visited {
    color:black;
}

a:link {
    text-decoration: none;
    color: white;
}


a:visited {
    color: white;
}


a:hover {
    color: red;
}